<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FayInterview.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7CC97BD2E205D4B00F78411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CC97CA2E205D4D00F78411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CC97D42E205D4D00F78411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
